/* Master Styles */
* {
  font-family: 'Titillium Web', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #d3f3c8;
}

h1 {
  text-align: center;
  margin: 20px;
}

/*
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://github.com/ngrx/platform
*/